.home-container {
    min-height: 70vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.banner-container {
    height: 40rem;
    width: 100%;
    padding: 2rem 2rem 0 2rem;
}

.banner {
    position: relative;
    height: 100%;
    width: 100%;
}

.banner-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content-container {
    width: 100%;
    height: 100%;
}


.heading-1 {
    position: absolute;
    left: 5rem;
    top: 0;
    font-size: 6rem;
    color: var(--white-text-color);
    opacity: 1;
}

.heading-2 {
    position: absolute;
    left: 30rem;
    top: 10;
    font-size: 4rem;
    color: var(--white-text-color);
    opacity: 1;
}



.banner-btn {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    padding: 1.5rem 1rem;
    font-size: 2.5rem;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.banner-btn:hover {
    background-color: var(--primary-hover);
}

.home-category-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}

.course-categories {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.category-card {
    width: 25rem;
    min-height: 14rem;
    margin-bottom: 1rem;
}

.category-video-image {
    position: relative;
    background-color: var(--background-black);
}

.category-image {
    opacity: 0.2;
}

.category-image:hover {
    opacity: 1;
}

.category-name {
    position: absolute;
    z-index: 1;
    top: 4rem;
    left: 20%;
    color: var(--primary-color);
}


.trending-courses {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:480px) { 
    .trending-courses {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .category-card {
        width: 15rem;
        min-height: 8rem;
    }

    .course-categories {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .heading-2{
        display: none;
    }

    .category-card {
        margin-bottom: 1rem;
    }

    .heading-1 {
        position: absolute;
        left: 3rem;
        top: 0;
        font-size: 5rem;
        color: var(--secondary-text-color);
        opacity: 1;
    }

    .heading-2 {
        position: absolute;
        display: none !important;
    }

    .banner-btn {
        bottom: 5rem;
        right: 30%;
    }

    .category-name {
        position: absolute;
        z-index: 1;
        top: 5px;
        left: 20%;
        color: var(--primary-color);
    }
}

@media screen and (max-width:768px) {
    .category-card {
        margin: 1rem;
    }
}